body {
  font: 14px/1.5 "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header > .container {
  width: 85%;
}

header {
  background: #1962d1;
}

#logo >img {
  float: left;
  width: auto;
  height: 40px;
  padding: 5px 0px 5px 0px;
}

header >.container>#search {
  float: right;
  border-radius: 0px;
  margin-top: 10px;
  background: white;
}

#search > button{
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  float:left;
  border: 0;
  background: white;
}

#search > button > img {
  width: 20px;
  height: 20px;
}

header >.container>#search > input {
  border: 0;
  margin-top: 4px;
}

#card-section {
  float: left;
  margin-left: 4%;
  margin-top: 10px;
  height:81.5%;
  overflow-x: scroll;
  font-size: 30px;
}

.card-list {
  padding: 5px;
  margin: 0;
  height: 100px;
  border: 2px solid;
}

.weather-card {
  border: solid;
  border-width: 1px 5px 5px 1px;
  border-color: #c9deff;
  border-radius: 6px;
  margin-top: 15px;
  background: #ffffff;
  max-width: 300px;
  padding:0px;
  float: left;
  font-size: 15px;
}

.weather-card-desc {
  border-bottom: solid #c9deff 1px ;
  padding: 0 10 5 10;
  float: left;
}

.weather-card-icos{
  float: left;
  background: #f4f4f4;
  padding: 0 10 5 10;
}

.weather-card-max-min {
  float: left;
  margin-top: 10px;
  width: 100%;
}

.weather-card-max-min > div {
  font: 20px bold;
}

.weather-card-min {
  float: right;
  color: blue;
}

.weather-card-max {
  float: left;
  color: red;
}

.weather-card-rain {
  float: left;
  margin: 10px 0 0 0;
  width: 100%
}

.weather-card-rain div {
  font: 20px bold;
}

.weather-card-mm {
  float: left;
}

.weather-card-chance {
  float: right;
}

#map-section {
  /*float: left;*/
  margin-top: 15px;
  margin: auto;
  width: 70%
}

#map {
  float: left;
  height: 80%;
  border: solid;
  border-color: #1962d1;
  border-width: 2px;
  margin-top: 10px;
  width: 100%;
}